/* Reset */
body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom Font */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #e0e0e0;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Container */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Loader */
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
}

.loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background-color: #333;
    z-index: 1000;
}

.section-left {
    left: 0;
}

.section-right {
    right: 0;
}

/* Header */
header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #0779e4 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    float: right;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header nav ul li a:hover {
    color: #0779e4;
    transition: color 0.3s ease;
}

/* About Section */
.about {
    padding: 20px;
    background: #fff;
    margin-top: 20px;
    border-radius: 5px;
    animation: fadeIn 2s ease-in;
}

.about h2 {
    color: #0779e4;
}

.about p {
    font-size: 18px;
}

.highlight {
    color: #0779e4;
}

/* Instructions Section */
.instructions, .video-section {
    margin-top: 30px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    animation: fadeIn 2s ease-in;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

footer a {
    color: #0779e4;
}

footer a:hover {
    color: #fff;
    transition: color 0.3s ease;
}

/* Custom Cursor */
body, a, button {
    cursor: url('https://cur.cursors-4u.net/cursors/cur-1/cur2.cur'), auto;
}

@media (max-width: 768px) {
    header #branding, header nav ul {
        text-align: center;
        float: none;
    }
    header nav ul {
        margin: 0;
        padding: 0;
    }
    header nav ul li {
        float: none;
        display: block;
        padding: 10px;
    }
    .container {
        width: 100%;
        padding: 0 10px;
    }
}