/* Reset */
body, h1, h2, p, ul, li, a, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode */
body.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

/* Header */
header {
    background: #444;
    color: white;
    padding: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a,
header nav ul li button {
    color: white;
    text-decoration: none;
    font-size: 16px;
    background: none;
    border: none;
    cursor: pointer;
}

/* Card */
.card {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

body.dark-mode .card {
    background: #444;
}

/* Sections */
section {
    padding: 20px;
    margin: 20px 0;
}

/* Loader */
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#windows-loader {
    border: 3px solid #0779e4;
    border-radius: 50%;
    border-top-color: transparent;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

/* Animations! */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
